In [8]:
!pip install socceraction

Collecting socceraction
  Downloading socceraction-1.0.2.tar.gz (48 kB)
Requirement already satisfied: cython in c:\users\nanda\anaconda3\lib\site-packages (from socceraction) (0.29.15)
Requirement already satisfied: lxml in c:\users\nanda\anaconda3\lib\site-packages (from socceraction) (4.5.0)
Collecting pandas>=1.1.0
  Downloading pandas-1.3.2-cp37-cp37m-win_amd64.whl (10.0 MB)
Requirement already satisfied: packaging>=20.0 in c:\users\nanda\anaconda3\lib\site-packages (from socceraction) (20.1)
Collecting pandera>=0.6.1
  Downloading pandera-0.7.0-py3-none-any.whl (162 kB)
Requirement already satisfied: requests in c:\users\nanda\anaconda3\lib\site-packages (from socceraction) (2.22.0)
Requirement already satisfied: scikit-learn in c:\users\nanda\anaconda3\lib\site-packages (from socceraction) (0.22.1)
Requirement already satisfied: tqdm in c:\users\nanda\anaconda3\lib\site-packages (from socceraction) (4.42.1)
Collecting unidecode
  Downloading Unidecode-1.3.1-py3-none-any.whl (235 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\nanda\anaconda3\lib\site-packages (from pandas>=1.1.0->socceraction) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\nanda\anaconda3\lib\site-packages (from pandas>=1.1.0->socceraction) (2019.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\nanda\anaconda3\lib\site-packages (from pandas>=1.1.0->socceraction) (1.19.5)
Requirement already satisfied: six in c:\users\nanda\anaconda3\lib\site-packages (from packaging>=20.0->socceraction) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\nanda\anaconda3\lib\site-packages (from packaging>=20.0->socceraction) (2.4.6)
Requirement already satisfied: typing-extensions>=3.7.4.3; python_version < "3.8" in c:\users\nanda\anaconda3\lib\site-packages (from pandera>=0.6.1->socceraction) (3.7.4.3)
Collecting pyarrow
  Downloading pyarrow-5.0.0-cp37-cp37m-win_amd64.whl (14.4 MB)
Requirement already satisfied: wrapt in c:\users\nanda\anaconda3\lib\site-packages (from pandera>=0.6.1->socceraction) (1.12.1)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Collecting frictionless
  Downloading frictionless-4.16.6-py2.py3-none-any.whl (234 kB)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\nanda\anaconda3\lib\site-packages (from requests->socceraction) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nanda\anaconda3\lib\site-packages (from requests->socceraction) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nanda\anaconda3\lib\site-packages (from requests->socceraction) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\nanda\anaconda3\lib\site-packages (from requests->socceraction) (1.25.8)
Requirement already satisfied: scipy>=0.17.0 in c:\users\nanda\anaconda3\lib\site-packages (from scikit-learn->socceraction) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\nanda\anaconda3\lib\site-packages (from scikit-learn->socceraction) (0.14.1)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Collecting petl>=1.6
  Downloading petl-1.7.4.tar.gz (245 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: jsonschema>=2.5 in c:\users\nanda\anaconda3\lib\site-packages (from frictionless->pandera>=0.6.1->socceraction) (3.2.0)
Collecting isodate>=0.6
  Downloading isodate-0.6.0-py2.py3-none-any.whl (45 kB)
Requirement already satisfied: pyyaml>=5.3 in c:\users\nanda\anaconda3\lib\site-packages (from frictionless->pandera>=0.6.1->socceraction) (5.3)
Collecting stringcase>=1.2
  Downloading stringcase-1.2.0.tar.gz (3.0 kB)
Collecting typer[all]>=0.4
  Downloading typer-0.4.0-py3-none-any.whl (27 kB)
Collecting python-slugify>=1.2
  Downloading python_slugify-5.0.2-py2.py3-none-any.whl (6.7 kB)
Collecting simpleeval>=0.9
  Downloading simpleeval-0.9.10.tar.gz (26 kB)
Collecting validators>=0.18
  Using cached validators-0.18.2-py3-none-any.whl (19 kB)
Collecting rfc3986>=1.4
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: attrs>=17.4.0 in c:\users\nanda\anaconda3\lib\site-packages (from jsonschema>=2.5->frictionless->pandera>=0.6.1->socceraction) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\nanda\anaconda3\lib\site-packages (from jsonschema>=2.5->frictionless->pandera>=0.6.1->socceraction) (0.15.7)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\nanda\anaconda3\lib\site-packages (from jsonschema>=2.5->frictionless->pandera>=0.6.1->socceraction) (1.5.0)
Requirement already satisfied: setuptools in c:\users\nanda\anaconda3\lib\site-packages (from jsonschema>=2.5->frictionless->pandera>=0.6.1->socceraction) (45.2.0.post20200210)
Collecting click<9.0.0,>=7.1.1
  Downloading click-8.0.1-py3-none-any.whl (97 kB)
Requirement already satisfied: colorama<0.5.0,>=0.4.3; extra == "all" in c:\users\nanda\anaconda3\lib\site-packages (from typer[all]>=0.4->frictionless->pandera>=0.6.1->socceraction) (0.4.3)
Collecting shellingham<2.0.0,>=1.3.0; extra == "all"
  Downloading shellingham-1.4.0-py2.py3-none-any.whl (9.4 kB)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: decorator>=3.4.0 in c:\users\nanda\anaconda3\lib\site-packages (from validators>=0.18->frictionless->pandera>=0.6.1->socceraction) (4.4.1)
Requirement already satisfied: zipp>=0.5 in c:\users\nanda\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=2.5->frictionless->pandera>=0.6.1->socceraction) (2.2.0)
Building wheels for collected packages: socceraction, petl, stringcase, simpleeval
  Building wheel for socceraction (setup.py): started
  Building wheel for socceraction (setup.py): finished with status 'done'
  Created wheel for socceraction: filename=socceraction-1.0.2-py3-none-any.whl size=54307 sha256=1b1a2867421b741c76130c432197d5dfcdc9d542d1711d79757d69e15d192e2c
  Stored in directory: c:\users\nanda\appdata\local\pip\cache\wheels\c2\45\9e\28a376fb1bea59d03f9a7fb1f88c59870bf89db50239e8aec6
  Building wheel for petl (PEP 517): started
  Building wheel for petl (PEP 517): finished with status 'done'
  Created wheel for petl: filename=petl-1.7.4-py3-none-any.whl size=217003 sha256=9df8c969549b074ab3024351ef67e810b35ec0dbc5b347df4d1edd1bc0fc3cec
  Stored in directory: c:\users\nanda\appdata\local\pip\cache\wheels\75\23\fb\a0e8e350a8718579b0cde55163df77b94de835d7d116388fa5
  Building wheel for stringcase (setup.py): started
  Building wheel for stringcase (setup.py): finished with status 'done'
  Created wheel for stringcase: filename=stringcase-1.2.0-py3-none-any.whl size=3576 sha256=045e474014cbcc50aef5eef9fdb37496cf7a643124f4b3c1799e4a4fb7095cc3
  Stored in directory: c:\users\nanda\appdata\local\pip\cache\wheels\86\ab\a3\a8fa7e0a07e80f547e03468c03827f8257f7339327986faed1
  Building wheel for simpleeval (setup.py): started
  Building wheel for simpleeval (setup.py): finished with status 'done'
  Created wheel for simpleeval: filename=simpleeval-0.9.10-py3-none-any.whl size=13758 sha256=58b743e1007f1deacb62c9ce6447a5b1d144870e495e6ca89bc892a64a435a27
  Stored in directory: c:\users\nanda\appdata\local\pip\cache\wheels\d4\aa\50\0b420d1eabad3c16a82368935c6a2050955bc3ee2a11ee4e06
Successfully built socceraction petl stringcase simpleeval
Installing collected packages: pandas, pyarrow, mypy-extensions, typing-inspect, petl, isodate, stringcase, click, shellingham, typer, text-unidecode, python-slugify, simpleeval, validators, rfc3986, frictionless, pandera, unidecode, socceraction
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.1
    Uninstalling pandas-1.0.1:
      Successfully uninstalled pandas-1.0.1
  Attempting uninstall: click
    Found existing installation: Click 7.0
    Uninstalling Click-7.0:
      Successfully uninstalled Click-7.0
Successfully installed click-8.0.1 frictionless-4.16.6 isodate-0.6.0 mypy-extensions-0.4.3 pandas-1.3.2 pandera-0.7.0 petl-1.7.4 pyarrow-5.0.0 python-slugify-5.0.2 rfc3986-1.5.0 shellingham-1.4.0 simpleeval-0.9.10 socceraction-1.0.2 stringcase-1.2.0 text-unidecode-1.3 typer-0.4.0 typing-inspect-0.7.1 unidecode-1.3.1 validators-0.18.2

In [14]:
import socceraction
from socceraction.spadl.opta import OptaLoader

loader = OptaLoader(
    root="data", 
    parser='whoscored',
    feeds={'whoscored': "{competition_id}-{season_id}\game_{game_id}.json"})

In [8]:
games = loader.games(competition_id=2, season_id=2022)
players = loader.players(game_id=1549577)
teams = loader.teams(game_id=1549577)
events = loader.events(game_id=1549577)

In [9]:
games

,game_id,season_id,competition_id,game_day,game_date,home_team_id,away_team_id,home_score,away_score,attendance,venue,referee_id,duration
0,1549577,2022,2,0,2021-09-11 15:00:00,18,29,0,0,0,St. Mary's Stadium,150,97

In [10]:
players

,game_id,team_id,player_id,is_starter,player_name,age,height,weight,minutes_played,jersey_number,starting_position_id,starting_position_name
0,1549577,18,38577,True,Alex McCarthy,31,193.0,79.0,97,1,0,GK
1,1549577,18,415174,True,Valentino Livramento,18,0.0,0.0,97,21,0,DR
2,1549577,18,362357,True,Mohammed Salisu,22,191.0,82.0,97,22,0,DC
3,1549577,18,92550,True,Jack Stephens,27,185.0,75.0,97,5,0,DC
4,1549577,18,331466,True,Romain Perraud,23,173.0,68.0,97,15,0,DL
5,1549577,18,90780,True,Oriol Romeu,29,183.0,83.0,54,6,0,DMC
6,1549577,18,86425,True,Nathan Redmond,27,173.0,69.0,97,11,0,MR
7,1549577,18,141732,True,Mohamed Elyounoussi,27,178.0,70.0,97,24,0,MC
8,1549577,18,105172,True,James Ward-Prowse,26,173.0,66.0,97,8,0,MC
9,1549577,18,363676,True,Moussa Djenepo,23,177.0,65.0,97,19,0,ML
10,1549577,18,136460,True,Adam Armstrong,24,172.0,69.0,75,9,0,FW
11,1549577,18,357101,False,Ibrahima Diallo,22,179.0,68.0,43,27,0,Sub
12,1549577,18,393407,False,Armando Broja,20,191.0,0.0,22,18,0,Sub
13,1549577,18,284115,False,Lyanco,24,187.0,85.0,0,4,0,Sub
14,1549577,18,323791,False,Yan Valery,22,180.0,85.0,0,43,0,Sub
15,1549577,18,136742,False,Jan Bednarek,25,189.0,77.0,0,35,0,Sub
16,1549577,18,29796,False,Fraser Forster,33,201.0,93.0,0,44,0,Sub
17,1549577,18,313672,False,Kyle Walker-Peters,24,173.0,62.0,0,2,0,Sub
18,1549577,18,256419,False,Che Adams,25,175.0,70.0,0,10,0,Sub
19,1549577,18,395472,False,Nathan Tella,22,0.0,0.0,0,23,0,Sub
20,1549577,29,20973,True,Lukasz Fabianski,36,190.0,83.0,97,1,0,GK
21,1549577,29,111372,True,Vladimir Coufal,29,179.0,76.0,97,5,0,DR
22,1549577,29,23547,True,Angelo Ogbonna,33,191.0,86.0,97,21,0,DC
23,1549577,29,73063,True,Craig Dawson,31,188.0,82.0,97,15,0,DC
24,1549577,29,68049,True,Aaron Cresswell,31,170.0,66.0,97,3,0,DL
25,1549577,29,143595,True,Tomas Soucek,26,192.0,86.0,97,28,0,DMC
26,1549577,29,332325,True,Declan Rice,22,185.0,76.0,97,41,0,DMC
27,1549577,29,322596,True,Jarrod Bowen,24,175.0,70.0,84,20,0,AMR
28,1549577,29,137021,True,Said Benrahma,26,172.0,67.0,64,22,0,AMC
29,1549577,29,297203,True,Pablo Fornals,25,178.0,67.0,97,8,0,AML
30,1549577,29,69517,True,Michail Antonio,31,180.0,82.0,97,9,0,FW
31,1549577,29,343975,False,Nikola Vlasic,23,178.0,72.0,33,11,0,Sub
32,1549577,29,41672,False,Andriy Yarmolenko,31,189.0,81.0,13,7,0,Sub
33,1549577,29,89998,False,Manuel Lanzini,28,167.0,59.0,0,10,0,Sub
34,1549577,29,369861,False,Alex Kral,23,185.0,72.0,0,33,0,Sub
35,1549577,29,92516,False,Alphonse Areola,28,195.0,94.0,0,13,0,Sub
36,1549577,29,106086,False,Kurt Zouma,26,190.0,96.0,0,4,0,Sub
37,1549577,29,300359,False,Issa Diop,24,194.0,92.0,0,23,0,Sub
38,1549577,29,83554,False,Ryan Fredericks,28,181.0,74.0,0,24,0,Sub
39,1549577,29,8247,False,Mark Noble,34,180.0,70.0,0,16,0,Sub

In [11]:
teams

   team_id    team_name
0       18  Southampton
1       29     West Ham

In [12]:
events

,game_id,event_id,type_id,period_id,minute,second,timestamp,player_id,team_id,outcome,start_x,start_y,end_x,end_y,assist,keypass,qualifiers,type_name
0,1549577,2328212291,32,1,0,0,2021-09-11 15:00:00,0,29,True,0.0,0.0,0.0,0.0,False,False,{},start
1,1549577,2328212299,32,1,0,0,2021-09-11 15:00:00,0,18,True,0.0,0.0,0.0,0.0,False,False,{},start
2,1549577,2328212343,1,1,0,0,2021-09-11 15:00:00,137021,29,True,50.1,50.4,29.2,36.1,False,False,"{140: '29.2', 212: '24.0', 213: '3.6', 178: Tr...",pass
3,1549577,2328212371,1,1,0,2,2021-09-11 15:00:02,73063,29,False,30.2,35.4,71.2,28.6,False,False,"{155: True, 213: '6.2', 140: '71.2', 212: '43....",pass
4,1549577,2328212407,44,1,0,5,2021-09-11 15:00:05,362357,18,True,26.8,75.0,26.8,75.0,False,False,"{56: 'Back', 233: '5', 285: True}",aerial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537,1549577,2328441243,30,2,97,36,2021-09-11 16:37:36,0,29,True,0.0,0.0,0.0,0.0,False,False,{},end
1538,1549577,2328444597,30,14,7,0,2021-09-11 15:07:00,0,18,True,0.0,0.0,0.0,0.0,False,False,{},end
1539,1549577,2328444605,30,14,7,0,2021-09-11 15:07:00,0,29,True,0.0,0.0,0.0,0.0,False,False,{},end
1540,1549577,2328167033,34,16,0,0,2021-09-11 15:00:00,0,29,True,0.0,0.0,0.0,0.0,False,False,"{194: '332325', 59: '1, 5, 3, 41, 15, 21, 20, ...",team set up
1541,1549577,2328167047,34,16,0,0,2021-09-11 15:00:00,0,18,True,0.0,0.0,0.0,0.0,False,False,"{30: '38577,415174,331466,90780,92550,362357,8...",team set up

In [15]:
socceraction.spadl.opta.convert_to_actions(events,29)

,game_id,original_event_id,period_id,time_seconds,team_id,player_id,start_x,end_x,start_y,end_y,type_id,result_id,bodypart_id,action_id
0,1549577,2328212343,1,0.0,29,137021,52.605,30.660,34.272,24.548,0,1,0,0
1,1549577,2328212371,1,2.0,29,73063,31.710,74.760,24.072,19.448,0,0,0,1
2,1549577,2328212445,1,5.0,18,362357,79.905,78.435,14.484,4.828,0,1,0,2
3,1549577,2328212467,1,9.0,18,331466,78.435,61.215,4.964,23.528,0,0,0,3
4,1549577,2328212635,1,11.0,29,332325,63.000,76.230,21.828,20.060,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1549577,NaN,2,3146.5,18,362357,44.730,35.490,19.176,4.624,21,1,0,1642
1643,1549577,2328440961,2,3149.0,18,362357,35.490,23.625,4.624,1.360,0,1,0,1643
1644,1549577,2328441007,2,3151.0,18,363676,23.205,5.775,1.700,13.600,0,1,0,1644
1645,1549577,2328441037,2,3153.0,18,331466,5.775,9.450,13.464,23.324,0,0,0,1645
1646,1549577,2328441099,2,3154.0,29,332325,8.820,8.820,26.112,26.112,18,1,0,1646

In [16]:
socceraction.spadl.config.actiontypes_df()

    type_id         type_name
0         0              pass
1         1             cross
2         2          throw_in
3         3  freekick_crossed
4         4    freekick_short
5         5    corner_crossed
6         6      corner_short
7         7           take_on
8         8              foul
9         9            tackle
10       10      interception
11       11              shot
12       12      shot_penalty
13       13     shot_freekick
14       14       keeper_save
15       15      keeper_claim
16       16      keeper_punch
17       17    keeper_pick_up
18       18         clearance
19       19         bad_touch
20       20        non_action
21       21           dribble
22       22          goalkick